<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MangaDex</title>
  <link rel="icon" href="https://mangadex.org/img/avatar.png" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

  <div id="videoContainer">
    <canvas id="videoCanvas" autoplay muted loop></canvas>
  </div>

  <div id="loginBox">
    <h2 style="color: white;" id="connectWithMangadex"></h2>

    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <input type="text" placeholder="Client ID">
    <input type="password" placeholder="Client Secret">

    <button id="loginButton">
      <img src="static/icon.ico" alt="MangaDex Icon" border="0">
      <span id="loginWithMangadex"></span>
    </button>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var video = document.createElement('video');
      video.autoplay = true;
      video.muted = true;
      video.loop = true;
  
      var canvas = document.getElementById('videoCanvas');
      var ctx = canvas.getContext('2d');
  
      video.src = "{{ url_for('static', filename='background.mp4') }}";
  
      video.addEventListener('loadeddata', function () {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
  
        video.play();
        drawFrame();
      });
  
      function drawFrame() {
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        requestAnimationFrame(drawFrame);
      }
    });

    const selectedLanguage = localStorage.getItem('selectedLanguage');
    if (!selectedLanguage) {
        window.location.href = '{{ url_for('new_login') }}';
    }

    function handleKeyPress(event) {
      if (event.key === 'Enter') {
        loginWithMangaDex();
      }
    }

    document.addEventListener('keydown', handleKeyPress);
    document.getElementById('loginButton').addEventListener('click', loginWithMangaDex);

    function loginWithMangaDex() {
      const username = document.querySelector('input[placeholder="Username"]').value;
      const password = document.querySelector('input[placeholder="Password"]').value;
      const clientId = document.querySelector('input[placeholder="Client ID"]').value;
      const clientSecret = document.querySelector('input[placeholder="Client Secret"]').value;
  
      if (!username || !password || !clientId || !clientSecret) {
          highlightEmptyFields();
          return;
      }
  
      const credentials = {
          mangadex_username: username,
          mangadex_password: password,
          client_id: clientId,
          client_secret: clientSecret,
          languageCode: languageCode
      };
  
      fetch('/login_credential', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(credentials),
      })
      .then(response => {
          if (!response.ok) {
              throw new Error(`Error save credentials: ${response.statusText}`);
          }
          return response.json();
      })
      .catch(error => {
          console.error('Erro:', error);
      });

      window.location.href = '{{ url_for('main_setup') }}';
    }
  
    function highlightEmptyFields() {
      const inputs = document.querySelectorAll('input[placeholder]');
      inputs.forEach(input => {
        if (!input.value) {
          input.style.border = '1px solid red';
  
          input.addEventListener('click', () => {
            input.style.border = '';
          }, { once: true });
        } else {
          input.style.border = '';
        }
      });
    }
  
    window.onload = function () {
      const inputs = document.querySelectorAll('input[placeholder]');
      inputs.forEach(input => {
        input.style.border = '';
      });
    };
  
    if (performance.navigation.type === 1) {
      window.location.href = '{{ url_for('index') }}';
    }
  
    const languageCode = localStorage.getItem('selectedLanguage') || 'en';

    fetch(`static/${languageCode}.json`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Language file not found');
            }
            return response.json();
        })
        .then(translations => {
            document.getElementById('connectWithMangadex').textContent = translations.connect_with_mangadex;
            document.getElementById('loginWithMangadex').textContent = translations.login_with_mangadex;
        })
        .catch(error => {
            fetch('static/en.json')
                .then(response => response.json())
                .then(translations => {
                    document.getElementById('connectWithMangadex').textContent = translations.connect_with_mangadex;
                    document.getElementById('loginWithMangadex').textContent = translations.login_with_mangadex;
                })
                .catch(error => console.error('Error:', error));
        });

  </script>

</body>
</html>
